{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class ="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add Tables</h4>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <div class="modal-body">Are you sure you want to delete this order ? </div>
                    <form action="{% url 'order_delivery_delete' item.id %}" method="post">
                        {% csrf_token %}
                        <div class="modal-footer">

                            <a type="button" class="btn btn-dark light" href="{% url 'order_delivery' %}" >Close</a>
                            <input type="submit" class="btn btn-danger" valur="Confirm" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>


        </div>
    </div>
</div>
{% endblock content %}