{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class ="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add A Menu</h4>
                    <div>
                        <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>

                    </div>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <form action="" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                            <label class="control-label">Category </label>
                            {{ form.category}}
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Item Name</label>
                            {{ form.name}}
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Price </label>
                            {{ form.price}}
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Image </label>
                            {{ form.image}}
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Description </label>
                            {{ form.description}}
                        </div>
                        <div class="col-md-12 text-center mt-4 mb-4">
                            <input type="submit" value="submit" class="btn btn-success" />
                        </div>
                        </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>


        </div>
    </div>
</div>
{% endblock content %}