{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class ="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add Order yyyyyyyyyy devb dev dev</h4>
                    <div>
                        <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>

                    </div>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-md-12">
                                <label class="control-label">Address </label>
                                {{ form.address}}
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Customer Name </label>
                                {{ form.customer_name}}
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Menu </label>
                                {{ form.menu}}
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Quantity </label>
                                {{ form.quantity}}
                            </div>
                            <div class="col-md-12 text-center mt-4 mb-4">
                                <input type="submit" value="submit" class="btn btn-success" />
                            </div>
                        </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>


        </div>
    </div>
</div>
{% endblock content %}