{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class ="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add A Reservation</h4>
                    <div>
                        <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>

                    </div>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                           
                            <div class="col-md-12">
                                <label class="control-label">Table Number</label>
                                {{ form.table}}
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Name</label>
                                {{ form.name}}
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Email</label>
                                {{ form.email}}
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Phone Number</label>
                                {{ form.phone}}
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Note</label>
                                {{ form.note}}
                            </div>
                            <div class="col-md-12">
                                <label class="control-label">Visit Date</label>
                                {{ form.date_visit}}
                            </div>
                            <div class="col-md-12 text-center mt-4 mb-4">
                                <input type="submit" value="submit" class="btn btn-success" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>


        </div>
    </div>
</div>
{% endblock content %}