{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <div class ="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add cATEGORY</h4>
                    <div>
                        <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>
                    </div>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form %}
                            <div class="col-md-12">
                            <label class="control-label">{{ field.label}} </label>
                            {{ field}}
                        </div>
                        {% endfor %}
                        <div class="col-md-12 text-center mt-4 mb-4">
                            <input type="submit" value="submit" class="btn btn-success" />
                        </div>
                        </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>


        </div>
    </div>
</div>
{% endblock content %}