{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
      
        <div class ="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Call Waiter</h4>
                    <div>
                        <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>
                    </div>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th><strong>Table</strong></th>
                                <th><strong>Time </strong></th>
                                <th><strong>Action</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for call in calls %}
                            <tr>
                                <td>{{ call.table }}</td>
                                <td>{{ call.date_created|date:"d-m-Y" }} <strong>{{ call.date_created|date:"H:i" }}</strong></td>
                                <td>
                                    <button type="button" class="btn light btn-success" data-toggle="modal" data-target="#solved">Solved</button>

                                    <button type="button" class="btn light btn-danger" data-toggle="modal" data-target="#delete">Delete</button>
                                </td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>

        <div class="bootstrap-modal">
        <!-- Modal -->
        <div class="modal fade" id="solved">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Problem Solved</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">Are you sure the problem solved? </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark light" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">YES!</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="bootstrap-modal">
            <!-- Modal -->
            <div class="modal fade" id="delete">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Delete</h5>
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">Are you sure you want to delete it? </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark light" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger">Delet</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
      
        </div>
    </div>
</div>

{% endblock content %}