{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class ="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Feedbacks</h4>
                    <div>
                        <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>
                    </div>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th><strong>Ambiance </strong></th>
                                <th><strong>Food </strong></th>
                                <th><strong>Service </strong></th>
                                <th><strong>Customer Name </strong></th>
                                <th><strong>Created </strong></th>
                                <th><strong>Action</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feedback in feedbacks %}
                            <tr>
                                <td> {{ feedback.ambiance }} </td>
                                <td> {{ feedback.food }}  </td>
                                <td>{{ feedback.service }} </td>
                                <td>{{ feedback.customer_name }} </td>
                                <td>{{ feedback.date_created|date:"d-m-Y" }}</td>

                                <td>
                                    <button type="button" class="btn light btn-dark" data-toggle="modal" data-target="#solved">View</button>

                                    <a type="button" class="btn light btn-danger"  href="{% url 'feedback_delete' feedback.id %}">Delete</a> 
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <div class="modal fade none-border" id="edit_order">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><strong>Edit Order</strong></h4>
                        <button href="#" type="button" class="btn light btn-dark" data-dismiss="modal">Print</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Table</label>
                                    <select class="form-control form-white" data-placeholder="Choose a table..." name="category-color">
                                        <option value="success">Table 1</option>
                                        <option value="danger">Table 2</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Choose Gategory</label>
                                    <select class="form-control form-white" data-placeholder="Choose a category..." name="category-color">
                                        <option value="success">Pizza</option>
                                        <option value="danger">Salad</option>
                                        <option value="info">Dessert</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Quantity</label>
                                    <input class="form-control form-white" placeholder="Enter number" type="text" name="category-name">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Choose an Item</label>
                                    <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                        <option value="success">Burger</option>
                                        <option value="danger">Piizza</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock content %}