{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
        <div class ="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Reservations</h4>
                        <div>
                            <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>
                            <a type="button" class="btn btn-success"  href="{% url 'reservation_create' %}">Add A New Reservation </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive-md">
                                <thead>
                                    <tr>
                                        <th ><strong>Table</strong></th>
                                        <th><strong>Name</strong></th>
                                        <th><strong>Visit Time</strong></th>
                                        <th><strong>Actions</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for reservation in reservations %}
                                    <tr>
                                        <td><strong>{{ reservation.table }}</strong></td>
                                        <td>{{ reservation.name }}</td>
                                        <td>{{ reservation.date_visit|date:"d-m-Y" }} <strong>{{ reservation.date_visit|date:"H:i" }}</strong></td>
                                        <td>
                                            <a type="button" class="btn light btn-info" href="{% url 'reservation_update' reservation.id %}" >Edit</a>
                                            <a type="button" class="btn light btn-danger"  href="{% url 'reservation_delete' reservation.id %} ">Delete</a> 
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}