{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
        <div class ="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Waitstaff</h4>
                    <div>
                        <a type="button" class="btn light btn-dark" href="{{request.META.HTTP_REFERER}}">Back</a>
                        <button type="button" class="btn btn-success">Add A New Waiter </button>
                    </div>
                </div>
                <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                                <th><strong>Full Name</strong></th>
                                <th><strong>Email</strong></th>
                                <th><strong>Phone</strong></th>
                                <th><strong>Image</strong></th>
                                <th><strong>Action</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for waiterstaff in waiterstaffs %}
                            <tr>
                                <td><strong>{{ waiterstaff.username }}</strong></td>
                                <td>{{ waiterstaff.email }}</td>
                                <td>{{ waiterstaff.phone }}</td>
                                <td>{{ waiterstaff.image }}</td>
                                <td>
                                    <button type="button" class="btn light btn-info" data-toggle="modal" data-target="#edit">Edit</button>

                                    <button type="button" class="btn light btn-danger" data-toggle="modal" data-target="#delete">Delete</button>
                                </td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <div class="modal fade none-border" id="edit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><strong>Edit Order</strong></h4>
                        <button href="#" type="button" class="btn light btn-dark" data-dismiss="modal">Print</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Table</label>
                                    <select class="form-control form-white" data-placeholder="Choose a table..." name="category-color">
                                        <option value="success">Table 1</option>
                                        <option value="danger">Table 2</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Choose Gategory</label>
                                    <select class="form-control form-white" data-placeholder="Choose a category..." name="category-color">
                                        <option value="success">Pizza</option>
                                        <option value="danger">Salad</option>
                                        <option value="info">Dessert</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Quantity</label>
                                    <input class="form-control form-white" placeholder="Enter number" type="text" name="category-name">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Choose an Item</label>
                                    <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                        <option value="success">Burger</option>
                                        <option value="danger">Piizza</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock content %}